<div class="input-group spinner">

    <input type="number"
           class="form-control"
           value="{{ value }}"
           ng-model="value"
           ng-model-options="{debounce: { 'default': 200, 'blur': 0 }}"
           min="1">
    <div class="input-group-btn-vertical">
        <button class="btn btn-default" type="button"
                ng-click="qtyCtrl.increase()">
            <i class="fa fa-caret-up"></i>
        </button>
        <button class="btn btn-default" type="button"
                ng-click="qtyCtrl.decrease()">
            <i class="fa fa-caret-down"></i>
        </button>
    </div>
</div>