<h1 class="page-header"><i class="fa fa-users"></i> All users</h1>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>ID</th>
            <th>User</th>
            <th>Role</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in usersCtrl.users.data">
            <td>{{ $index + 1 }}</td>
            <td>{{ user._id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ usersCtrl.user.role(user) }}</td>
        </tr>
        </tbody>
    </table>
</div>

