.checkout{
  &-item {
    &__image{
      max-height: 80px;
      max-width: 100%;
    }

    &__title{
      font-weight: 700;
      font-size: 18px;
      margin-bottom: 35px;
    }
  }


  &__order-actions{
    margin-top: 25px;
  }

  &__total{
    font-size: 24px;
    margin-top: 25px;

  }

}

.order-view{
  background-color: #f7f7f7;
  border-radius: $globalBorderRadius;
  padding: 0 15px;
}

.empty-page{
  &-message{
    text-align: center;
    margin: 150px auto;

    &__body{
      margin-bottom: 25px;
    }
  }
  &-icon{
    font-size: 45px;
    color: $successColor;
  }
}


