<div class="container">
    <!-- Jumbotron Header -->
    <header class="jumbotron hero-spacer">
        <h1>A Warm Welcome!</h1>
        <p ng-hide="mainCtrl.cart.itemsCount">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt possimus non incidunt odit vero aliquid similique quaerat nam nobis illo aspernatur vitae fugiat numquam repellat.</p>
        <p ng-show="mainCtrl.cart.itemsCount">
            There are {{mainCtrl.cart.itemsCount}} items in your cart.</p>
        <p><a class="btn btn-primary btn-large">Call to action!</a>
        </p>
    </header>

    <hr>

    <!-- Title -->
    <div class="row">
        <div class="form-group clearfix">
            <div class="col-xs-9">
                <h3>Latest Goods</h3>
            </div>
            <div class="col-xs-3">
                <!-- Split button -->
                <div class="dropdown pull-right latest__items-sort-by">
                    <span>Sort by: </span>
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span ng-show="mainCtrl.reverse">Price Down <i class="glyphicon glyphicon-arrow-down"></i></span>
                        <span ng-show="!mainCtrl.reverse">Price Up <i class="glyphicon glyphicon-arrow-up"></i></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li ng-click="mainCtrl.reverse = true"><a href="#">Price Down</a></li>
                        <li ng-click="mainCtrl.reverse = false"><a href="#">Price Up</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->

    <!-- Page Features -->
    <div class="row text-center">

        <div class="col-md-3 col-sm-6 hero-feature"
             ng-repeat="item in mainCtrl.items | orderBy: mainCtrl.predicate: mainCtrl.reverse">
            <div class="thumbnail store-item-thumbnail">
                <a href="{{ '#/items/' + item._id }}">
                    <img ng-src="{{item.imageURL}}" alt="{{item.title}}" class="image"/>
                </a>
                <div class="caption">
                    <h4>{{ item.title }}</h4>
                    <p class="item-thumbnail__description">{{ item.shortDescription }}</p>
                    <p class="item-thumbnail__price">{{ item.price | currency: "$":0 }}</p>
                    <p>
                        <a href="#" class="btn btn-primary"
                                ng-click="mainCtrl.addToCart(item)">Add</a>
                        <a href="#" class="btn btn-danger"
                           ng-click="mainCtrl.deleteFromCart(item._id)">Delete</a>
                        <a href="{{ '#/items/' + item._id }}" class="btn btn-default">More Info</a>
                    </p>
                </div>
            </div>
        </div>

    </div>
    <!-- /.row -->

    <hr>


</div>