<div class="container">

    <!-- Jumbotron Header -->
    <header class="promo-header">
        <div class="promo-header__text">
            <h1>Sale up to 30%</h1>
            <p>For all Meizu smartphones</p>
        </div>
        <img class="promo-header__image" src="./img/meizu_promo.png" alt=""/>
    </header>

    <hr>

    <!-- Title -->
    <div class="row">
        <div class="form-group clearfix">
            <div class="col-xs-9">
                <h3>Latest Goods</h3>
            </div>
            <div class="col-xs-3">
                <!-- Split button -->
                <div class="dropdown pull-right items-filter">
                    <span>Sort by: </span>
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span ng-show="mainCtrl.reverse">Price Down <i class="glyphicon glyphicon-arrow-down"></i></span>
                        <span ng-show="!mainCtrl.reverse">Price Up <i class="glyphicon glyphicon-arrow-up"></i></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li ng-click="mainCtrl.reverse = true"><a href="#">Price Down</a></li>
                        <li ng-click="mainCtrl.reverse = false"><a href="#">Price Up</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->

    <!-- Page Features -->
    <div class="row text-center">

        <div class="col-md-3 col-sm-6 hero-feature"
             ng-repeat="item in mainCtrl.items | orderBy: mainCtrl.predicate: mainCtrl.reverse">
            <div class="thumbnail item-thumbnail">
                <a href="{{ '#/items/' + item._id }}">
                    <span class="item-hover-mask item-hover-mask_more">
                        <i class="glyphicon glyphicon-search">
                            <span class="small">Show details</span>
                        </i>
                    </span>
                    <img ng-src="images/items/160/{{item.images[0]}}" alt="{{item.title}}" class="image"/>
                </a>
                <div class="caption">
                    <h4>{{ item.title }}</h4>
                    <p class="item-thumbnail__description">{{ item.shortDescription }}</p>
                    <p class="item-thumbnail__price">{{ item.price | currency: "$":0 }}</p>

                    <div class="btn-group btn-group-justified">
                        <div class="btn-group">
                            <button class="btn btn-default btn-grey"
                                    ng-click="storeCtrl.addToCart(item)">
                                <i class="fa fa-cart-arrow-down"></i> Add to cart
                            </button>
                        </div>
                        <div class="btn-group">
                            <button class="btn btn-default btn-grey"
                                    ng-click="storeCtrl.error()">
                                <i class="fa fa-dollar"></i> Buy now
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /.row -->

    <hr>

</div>