.items-filter {
    margin-top: 20px;
}

.item-thumbnail {
  position: relative;
  overflow: hidden;

  .image {
    height: 160px;
    margin-top: 10px;
  }

  &__description {
    height: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__price {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 16px;
    font-weight: 700;
    border-radius: 0 0 0 $globalBorderRadius;
    color: #FFF;
    display: inline-block;
    background-color: $successColor;
    padding: 5px 10px 4px 12px;

  }
}

.carousel{
  margin: 0;

  .item{
    img{
      border-radius: $globalBorderRadius;
      overflow: hidden;
    }
  }
}

.carousel-control {
  &.left, &.right {
    background: none;
  }
}

.item__prices{
  position: absolute;
  text-align: right;
  right: 3%;
  font-weight: 300;
  bottom: 6%;
  width: 48%;
  height: 31%;
}

  .item-old-price{
    //font-size: 39px;
    font-size: 3.1vw;
    color: #FF2020;
    margin-right: 5%;
    padding: 0px 5px;
    padding-top: 3%;
    display: inline-block;
    position: relative;

    &:before{
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 3%;
      transform: rotateZ(-8deg);
      left: 0;
      bottom: 38%;
      margin: auto;
      background-color: #cc1e1e;
    }
  }

  .item-new-price{
    //font-size: 62px;
    font-size: 4.9vw;
    color: #00B955;
    display: inline-block;
  }


  .zoomContainer{
    z-index: 9;
  }
  .zoomLens{
    background-color: #FFF;
  }