<div class="container">
    <div class="row">
        <div class="form-group clearfix">
            <div class="col-xs-12">
                <h3>Shopping Cart</h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="cart-view"
                 ng-if="cartCtrl.cart.items.length">
                <div class="cart-view__total text-right">
                    <h4>Merchandise Total: {{ cartCtrl.cart.total | currency}}</h4>
                </div>

                <div class="cart-view__items">
                    <div class="row cart-header clearfix">
                        <div class="col-xs-5 col-xs-offset-2">Items</div>
                        <div class="col-xs-2">Price</div>
                        <div class="col-xs-2">Quantity</div>
                        <div class="col-xs-1"></div>
                    </div>

                    <div class="row cart-row" ng-repeat="item in cartCtrl.cart.items">
                        <div class="col-xs-2 text-center">
                            <img class="cart-item-image" ng-src="{{item.image}}" alt=""/>
                        </div>
                        <div class="col-xs-5">{{ item.title }}</div>
                        <div class="col-xs-2">{{ item.price | currency }}</div>
                        <div class="col-xs-2">
                            <div class="input-group spinner">
                                <input type="text" class="form-control" value="{{ item.qty }}">
                                <div class="input-group-btn-vertical">
                                    <button class="btn btn-default" type="button"><i class="fa fa-caret-up"></i></button>
                                    <button class="btn btn-default" type="button"><i class="fa fa-caret-down"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-1">
                            <button class="btn btn-default"
                                    ng-click="cartCtrl.deleteFromCart(item)">
                                <i class="fa fa-close"></i>
                            </button>
                        </div>
                    </div>

                    <!--<table class="table">-->

                        <!--<tbody>-->
                            <!--<tr ng-repeat="item in cartCtrl.cart.items">-->
                                <!--<td>-->
                                    <!--<img class="cart-item-image" ng-src="{{item.image}}" alt=""/>-->
                                <!--</td>-->
                                <!--<td>{{ item.title }}</td>-->
                                <!--<td>{{ item.price }}</td>-->
                                <!--<td>-->
                                    <!--<div class="input-group spinner">-->
                                        <!--<input type="text" class="form-control" value="{{ item.qty }}">-->
                                        <!--<div class="input-group-btn-vertical">-->
                                            <!--<button class="btn btn-default" type="button"><i class="fa fa-caret-up"></i></button>-->
                                            <!--<button class="btn btn-default" type="button"><i class="fa fa-caret-down"></i></button>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--<td>-->
                                    <!--<button class="btn btn-default"-->
                                            <!--ng-click="cartCtrl.deleteFromCart(item)">-->
                                        <!--<i class="fa fa-close"></i>-->
                                    <!--</button>-->
                                <!--</td>-->
                            <!--</tr>-->
                        <!--</tbody>-->
                    <!--</table>-->
                </div>

                <hr/>
                <div class="cart-view__total text-right">
                    <h4>Merchandise Total: {{ cartCtrl.cart.total | currency}}</h4>
                </div>
            </div>
            <div class="cart-view_empty"
                 ng-if="!cartCtrl.cart.items.length">
                <h2>There are no items in your shopping cart.</h2>
            </div>
        </div>
    </div>
</div>