<div class="container">

    <promo-banner></promo-banner>

    <hr/>
    <div class="row">

        <div class="col-xs-12 col-sm-3">
            <div class="list-group">
                <span class="list-group-item"
                      ng-click="singleItemCtrl.tabs[0].active = true"
                      ng-class="{'active': singleItemCtrl.tabs[0].active }">Overview</span>
                <span class="list-group-item"
                      ng-click="singleItemCtrl.tabs[1].active = true"
                      ng-class="{'active': singleItemCtrl.tabs[1].active }">Comments</span>
            </div>
            <button class="btn btn-wide btn-primary"
                    ng-click="appCtrl.goBack()">
                <i class="glyphicon glyphicon-chevron-left"></i>
                <span>Go back</span>
            </button>
        </div>

        <div class="col-xs-12
                    col-sm-9
                    col-md-9
                    col-lg-4 text-center">

            <div class="thumbnail thumbnail_item">

                <img class="zoomable" ng-src="images/items/256/{{singleItemCtrl.item.images[singleItemCtrl.item.mainImageIndex]}}"
                     data-zoom-image="images/items/origin/{{singleItemCtrl.item.images[singleItemCtrl.item.mainImageIndex]}}"
                     alt=""/>

            </div>

            <div class="images-preview__remote" ng-show="singleItemCtrl.item.images.length > 1">
                <!--Image thumbnails from remote-->
                <img class="images-preview__image"
                     ng-repeat="image in singleItemCtrl.item.images track by $index"
                     ng-src="images/items/160/{{image}}"
                     alt="image.title"
                     ng-click="singleItemCtrl.selectImage($index)"/>
            </div>
            <div class="tab-content">
                <div class="fb-like" data-href="{{appCtrl.getLocation()}}" data-layout="button_count" data-action="like"
                     data-show-faces="true" data-share="true"></div>
            </div>
        </div>

        <div class="col-xs-12
                    col-sm-8 col-sm-offset-4
                    col-md-8
                    col-lg-5 col-lg-offset-0">

            <uib-tabset>
                <uib-tab heading="Overview" active="singleItemCtrl.tabs[0].active" disable="singleItemCtrl.tabs[0].disabled">
                    <div class="tab-content">
                        <div class="col-xs-9 form-group">
                            <label>Title</label>
                            <p>{{singleItemCtrl.item.title}}</p>
                        </div>
                        <div class="col-xs-3 form-group">
                            <label>Price</label>
                            <div class="input-group">
                                <h3 class="label label-success label-md">{{singleItemCtrl.item.price | currency}}</h3>
                            </div>
                        </div>
                        <div class="col-xs-12 form-group">
                            <label>Description</label>
                            <p>{{singleItemCtrl.item.description}}</p>

                            <hr/>

                            <div class="row">
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label>Quantity</label>
                                        <change-quantity value="singleItemCtrl.item.qty" class="qty-wide"></change-quantity>
                                    </div>
                                </div>

                                <div class="col-xs-9">
                                    <label>Purchase</label>
                                    <div class="btn-group btn-group-justified">
                                        <div class="btn-group">
                                            <button class="btn btn-primary"
                                                    ng-click="singleItemCtrl.addToCart()">
                                                <i class="fa fa-cart-arrow-down"></i> Add to cart
                                            </button>
                                        </div>
                                        <div class="btn-group">
                                            <button class="btn btn-success"
                                                    ng-click="singleItemCtrl.addToCart()">
                                                <i class="fa fa-dollar"></i> Buy now
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab heading="Comments" active="singleItemCtrl.tabs[1].active">
                    <div class="tab-content">
                        <div class="fb-comments" data-href="{{appCtrl.getLocation()}}" data-width="100%" data-numposts="5"></div>
                    </div>
                </uib-tab>
            </uib-tabset>


            </div>
        </div>
    </div>
</div>

