<h1 class="page-header"><i class="fa fa-fax"></i> Orders</h1>

<div class="alert alert-success" role="alert" ng-show="userOrdersCtrl.message.length">
    {{userOrdersCtrl.message}}
</div>

<div class="empty-page-message"
     ng-if="userOrdersCtrl.orders">
    <div class="empty-page-message__body">
        <h1><i class="fa fa-check empty-page-icon"></i></h1>
        <h2>You have no orders yet</h2>
        <h3>Go to the store and purchase some item to see your order here</h3>
    </div>

    <button class="btn btn-primary btn-lg"
            ui-sref="store.main">
        <i class="fa fa-shopping-cart"></i> Continue shopping</button>
</div>

<div class="row" ng-if="userOrdersCtrl.orders">
    <div class="order"
         ng-repeat="order in userOrdersCtrl.orders | orderBy: $index: true">
        <div class="col-xs-1 col-lg-1 label-spacing text-center">
            <span class="label label-success">{{ $index + 1 }}</span>
        </div>
        <div class="col-xs-11 col-lg-5">
            <b>Customer</b>
            <table class="table table-bordered">
                <tr>
                    <td class="order__customer-label"><b>Name</b></td>
                    <td>{{ order.customer[0].name }}</td>
                </tr>
                <tr>
                    <td class="order__customer-label"><b>Phone</b></td>
                    <td>{{ order.customer[0].phone }}</td>
                </tr>
                <tr>
                    <td class="order__customer-label"><b>Address</b></td>
                    <td>{{ order.customer[0].address }}</td>
                </tr>
                <tr>
                    <td class="order__customer-label"><b>E-mail</b></td>
                    <td>{{ order.customer[0].email }}</td>
                </tr>
            </table>
        </div>
        <div class="col-xs-11
                    col-xs-offset-1
                    col-lg-6
                    col-lg-offset-0">
            <b>Order</b>
            <table class="table table-bordered">
                <tr>
                    <td class="order__order-label"><b>Items</b></td>
                    <td>
                        <ul class="no-margin">
                            <li ng-repeat="item in order.cart[0].items">
                                {{ item.qty }} x {{ item.title }}
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td class="order__order-label"><b>Date</b></td>
                    <td><b>{{ order.date | date : 'medium'}}</b></td>
                </tr>
                <tr>
                    <td class="order__order-label"><b>Total</b></td>
                    <td><b>{{ order.cart[0].total | currency}}</b></td>
                </tr>
            </table>
        </div>
    </div>
</div>

