<h2 class="sub-header">Edit profile</h2>

<form name="userInfoForm">
    <div class="row">
        <div class="col-xs-3">
            <h3 class="sub-header">Change password</h3>
            <div class="form-group">
                <label>Enter old password</label>
                <input type="password"
                       class="form-control"
                       ng-model="profileCtrl.user.password.old"
                       value="">
            </div>

            <div class="form-group">
                <label>Enter new password</label>
                <input type="password"
                       class="form-control"
                       ng-model="profileCtrl.user.password.new"
                       value="">
            </div>

            <div class="form-group">
                <label>Repeat new password</label>
                <input type="password"
                       class="form-control"
                       ng-model="profileCtrl.user.password.repeat"
                       value="">
            </div>

            <button class="btn btn-primary">Change password</button>
        </div>
        <div class="col-xs-3">
            <h3 class="sub-header">Change username</h3>

            <div class="form-group">
                <label>User role</label>
                <input type="text"
                       class="form-control"
                       value="{{profileCtrl.userRole}}"
                       disabled="true">
            </div>

            <div class="form-group">
                <label>Enter new username</label>
                <input type="text"
                       class="form-control"
                       ng-model="profileCtrl.user.oldUsername"
                       value="">
            </div>

            <div class="form-group">
                <label>Repeat new username</label>
                <input type="text"
                       class="form-control"
                       ng-model="profileCtrl.user.newUsername"
                       value="">
            </div>

            <button class="btn btn-primary"
                    ng-click="profileCtrl.updateUser()">Change name</button>
        </div>

        <div class="col-xs-3">
            <h3 class="sub-header">Change photo</h3>
            <div class="form-group">
                <label>Upload new photo</label>
                <div class="thumbnail drag-drop-field drag-drop-field_ava"
                     ngf-drop
                     ngf-select
                     ngf-drag-over-class="dragover"
                     ng-model="profileCtrl.file"
                     name="file"
                     accept="image/*"
                     ngf-max-size="2MB">


                    <img ng-show="profileCtrl.user.imageURL && !profileCtrl.file"
                         ngf-src="profileCtrl.user.imageURL"
                         class="image-centered">

                    <img ng-show="userInfoForm.file.$valid"
                         ngf-src="!profileCtrl.file.$error && profileCtrl.file">
                </div>

                <button class="btn btn-primary"
                        ng-disabled="!profileCtrl.file"
                        ng-click="profileCtrl.uploadPhoto()">Upload photo</button>
            </div>
        </div>
    </div>
</form