@import "admin-theme";
@import "variables";
@import "mixins";

/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

textarea.form-control{
  resize: vertical;
}

.item-image-thumbnail{
  position: relative;
  min-height: 147px;
  display: block;
  background-color: #f7f7f7;
  border: 5px dashed #ddd;
  vertical-align: middle;
  
  &:hover{
    cursor: pointer;
  }

  &__message{
    display: block;
    width: 120px;
    margin: auto;
    margin-top: 40px;
    font-size: 14px;
    text-align: center;
    opacity: .7;
  }
}

.dragover {
  border: 5px dashed $successColor;
}