@import "admin-theme";
@import "variables";
@import "mixins";

/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

textarea.form-control{
  resize: vertical;
}

.drag-drop-field{
  position: relative;
  min-height: 147px;
  display: block;
  background-color: #f7f7f7;
  border: 5px dashed #ddd;
  vertical-align: middle;
  
  &:hover{
    cursor: pointer;
  }

  &__message{
    display: block;
    width: 120px;
    height: 80px;
    max-width: 100%;
    font-size: 14px;
    text-align: center;
    color: #B2B2B2;
    @include centered;
    i{
      font-size: 34px;
      color: #ddd;
    }
  }

  &_ava{
    min-height: 183px;
  }
}

.dragover {
  border: 5px dashed $successColor;
}

.item-edit-thumbnail{
  position: relative;
  display: block;
  width: 180px;
  text-align: center;

}

.item-edit-mask{
  width: 100%;
  height: 100%;
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #FFF;
  transition: ease all .3s;
  opacity: 0;

  &:hover{
    transition: ease all .3s;
    opacity: 0.5;
  }

  i{
    font-size: 80px;
    position: absolute;
    top: -23px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    height: 1em;

  }

  .small{
    font-size: 16px;
    position: absolute;
    text-transform: uppercase;
    font-weight: 700;
    font-family: sans-serif;
    left: 0;
    right: 0;
    bottom: -23px;
  }
}

.item-edit-image{
  max-width: 100%;
}

.save-changes{
  margin-top: 35px;
}

.sidebar-user{
  margin-bottom: 15px;
  position: relative;
  
  &__avatar{
    width: 48px;
    height: 48px;
    border-radius: 100%;
    overflow: hidden;
    display: block;
    float: left;
    margin-right: 15px;
    background-color: #fff;
    img{
      width: 100%;
    }
  }

  &__username{
    font-size: 20px;
    line-height: 1.1em;
    font-weight: 700;
    display: block;
    float: left;
    width: 70%;
  }

  &__role{
    font-size: 15px;
    margin-top: 10px;
    color: #6D6D6D;
    float: left;
    display: block;
  }

  &__actions{
    position: absolute;
    right: 0;
    bottom: 0;
    .btn{
      padding: 1px 8px;
    }

    .dropdown-menu{
      right: 0;
      left: auto;

      .glyphicon{
        color: #9A9A9A;
        margin-right: 5px;
        padding-right: 8px;
        border-right: 1px solid #D7D2D2;
      }
    }
  }
}

.user-profile-progress{
  .progress{
    height: 15px;
    background-color: #e7e7e7;
  }
}