/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

textarea.form-control{
  resize: vertical;
}

.drag-drop-field{
  position: relative;
  min-height: 147px;
  display: block;
  background-color: #f7f7f7;
  border: 5px dashed #ddd;
  vertical-align: middle;
  
  &:hover{
    cursor: pointer;
  }

  &__message{
    display: block;
    width: 120px;
    height: 80px;
    max-width: 100%;
    font-size: 14px;
    text-align: center;
    color: #B2B2B2;
    @include centered;
    i{
      font-size: 34px;
      color: #ddd;
    }
  }

  &_ava{
    min-height: 183px;
  }

  img{
    max-height: 100%;
  }
}

.dragover {
  border: 5px dashed $successColor;
}

.item-edit-thumbnail{
  position: relative;
  display: block;
  width: 180px;
  min-height: 100px;
  text-align: center;
}

.edit-item {
  &__preview {
    min-height: 200px;
    max-height: 400px;
    text-align: center;
    vertical-align: middle;
  }

  &__thumbnails {

    @at-root {
      &__small {
        height: 100%;
      }
    }

  }

}


  .images-preview{
    img{
      max-width: 100%;
    }

    &__image{
      height: 63px;
      padding: 5px;
      border-radius: $globalBorderRadius;
      color: transparent;
      transition: color ease-in-out .2s;


      &_main{
        margin: auto;
        display: block;
        height: 190px;
        margin-bottom: 10px;
      }

      &:not(&:first-child):last-child {
        margin-right: 0;
      }

      &:hover {
        cursor: pointer;
        color: #C7C7C7;
        border: 2px solid;
        padding: 3px;
        transition: color ease-in-out .2s;
      }
    }
    
    &__remote{
      margin-bottom: 5px;
    }

    &_local{
      text-align: center;
      .images-preview__image {
        &:first-child{
          margin: auto;
          display: block;
          height: 190px;
          margin-bottom: 10px;
        }
      }
    }

  }

  .item-edit-image{
    max-width: 100%;
  }

  .save-changes{
    margin-top: 35px;
  }

  .sidebar-user{
    margin-bottom: 15px;
    position: relative;

    &__avatar{
      width: 48px;
      height: 48px;
      border-radius: 100%;
      overflow: hidden;
      display: block;
      float: left;
      margin-right: 15px;
      background-color: #fff;
      img{
        width: 100%;
      }
    }

    &__username{
      font-size: 20px;
      line-height: 1.1em;
      font-weight: 700;
      display: block;
    }

    &__role{
      font-size: 15px;
      margin-top: 10px;
      color: #6D6D6D;
      float: left;
      display: block;
    }

    &__actions{
      position: absolute;
      right: 0;
      bottom: 0;
      .btn{
        padding: 1px 8px;
      }

      .dropdown-menu{
        right: 0;
        left: auto;

      }
    }
  }

  .glyphicon_bordered{
    color: #9A9A9A;
    margin-right: 5px;
    padding-right: 8px;
    border-right: 1px solid #D7D2D2;
    width: 30px;
    text-align: center;
  }

  .user-profile-progress{
    .progress{
      height: 15px;
      background-color: #e7e7e7;
    }
  }

  .nav-sidebar{
    .active{
      i{
        color: #FFF;
      }
    }
  }

  .image-centered{
    @include centered;
  }

.navbar-inverse .navbar-nav > li > a{
  color: #FFF;
  &:hover{
    color: #eee;;
  }
}