@import 'variables';

@font-face {
  font-family: "Glyphicons Halflings";
  src: url('fonts/glyphicons-halflings-regular.ttf');
}

.main-wrapper{
}

.asd{
  color: whitesmoke;
}

a{
  &:hover{
    cursor: pointer;
  }
}

.bordered-right{
  border-right: 1px solid rgba(255, 255, 255, 0.67);
  padding-right: 30px;
  display: inline-block;
  padding-left: 2px;
}

.navbar-nav{
  .glyphicon{
    font-size: 17px;
  }
}

.login-form{
  padding: 15px;
  background: $loginFormBG;
  border: 1px solid $borderPrimary;
  border-radius: $globalBorderRadius;
  box-shadow: 0 5px 0 #C5C5C5;
}


body {
  padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.hero-spacer {
  margin-top: 50px;
}

.hero-feature {
  margin-bottom: 30px;
}

footer {
  margin: 50px 0;
}