$loginFormBG:         #EFEFEF;
$borderPrimary:       #DADADA;
$brandPrimary:        #2980b9;
$successColor:        #2bbe69;

$brandAdminColor:     #2c3e50;
$brandUserColor:      #2980b9;

$brandWarningColor:   #e74c3c;

$globalBorderRadius:  5px;
$navbarHeight:        50px;