.btn{

  &-grey{
    background: #EEE;
    box-shadow: inset 0 0 5px #fff;
  }

  &-wide {
    width: 100%;
  }

  &_order-actions{
    display: block;
    width: 40px;
    height: 40px;
    margin-bottom: 15px;
  }
}