<h1 class="page-header"><i class="glyphicon glyphicon-pencil"></i> Edit item </h1>

<div class="row">
    <div class="alert alert-success" role="alert" ng-show="editCtrl.message.length">
        {{editCtrl.message}}
    </div>

    <form name="editItem">
        <div class="col-xs-4 edit-items">
            <div class="thumbnail edit-item__preview">

                <div class="images-preview">

                    <!--Large preview image-->
                    <img ng-show="editCtrl.item.images.length"
                         class="images-preview__image images-preview__image_main"
                         ng-src="images/items/origin/{{editCtrl.currentImage()}}">

                    <div class="images-preview__remote" ng-show="editCtrl.item.images.length > 1">
                        <!--Image thumbnails from remote-->
                        <img ng-repeat="image in editCtrl.item.images track by $index"
                             class="images-preview__image"
                             ng-src="images/items/160/{{image}}"
                             alt=""
                             ng-click="editCtrl.selectImage($index)"/>
                    </div>
                </div>
            </div>

            <div class="btn-group btn-group-justified">
                <div class="btn-group">
                    <button class="btn btn-default btn-grey"
                            ngf-select="editCtrl.addImages()"
                            ng-model="editCtrl.item.files"
                            ngf-multiple="true"
                            name="file"
                            accept="image/*"
                            ngf-max-size="2MB">
                        <i class="fa fa-image"></i> Add image
                    </button>
                </div>

                <div class="btn-group">
                    <button class="btn btn-default btn-grey"
                            ng-click="editCtrl.deleteImage()">
                        <i class="fa fa-trash"></i> Delete image
                    </button>
                </div>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="" ng-checked="editCtrl.checkMainImage()">
                    This is the main image of the item
                </label>
            </div>

            <div class="text-center save-changes">
                <button class="btn btn-primary btn-lg"
                        ng-click="editCtrl.saveChanges()">Save changes</button>

                <button class="btn btn-danger btn-lg"
                        ng-click="editCtrl.deleteItem()">Delete item</button>
            </div>
        </div>
        <div class="col-xs-8">
                <div class="col-xs-6 form-group">
                    <label>Title</label>
                    <input class="form-control"
                           type="text"
                           value="{{editCtrl.item.title}}"
                           ng-model="editCtrl.item.title">
                </div>

                <div class="col-xs-3 form-group">

                    <label>Category</label>

                    <div class="store-dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            {{ editCtrl.item.category }}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li ng-repeat="category in editCtrl.categories">
                                <a ng-click="editCtrl.selectCategory(category)">{{category.name}}</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-xs-3 form-group">
                    <label>Price</label>
                    <div class="input-group">
                        <span class="input-group-addon">$</span>
                        <input class="form-control"
                               type="text"
                               value="{{editCtrl.item.price}}"
                               ng-model="editCtrl.item.price">
                    </div>
                </div>

                <div class="col-xs-12 form-group">
                    <label>Description</label>
                    <textarea class="form-control"
                              rows="10"
                            ng-model="editCtrl.item.description">
                            {{editCtrl.item.description}}
                    </textarea>
                </div>
        </div>
    </form>
</div>
