<!-- Navigation -->
<nav class="store-header navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand navbar-logo" ui-sref="store.main"><i class="glyphicon glyphicon-shopping-cart"></i> {{ appCtrl.title }}</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <div class="header-cart navbar-nav">
                <btn class="btn btn-default" ui-sref="store.cart">
                    <span class="header-cart__title">Shopping cart</span>
                    <span class="label label-info" ng-if="!headerCtrl.cart.items.length">is empty </span>
                    <span ng-if="headerCtrl.cart.items.length">
                        <span class="label label-info"> {{ headerCtrl.cart.itemsCount }} items</span>
                        <span class="label label-success"> {{ headerCtrl.cart.total | currency}}</span>
                    </span>
                </btn>
            </div>
            <ul class="nav navbar-nav pull-right">
                <li ng-if="!headerCtrl.isAuthenticated()">
                    <a ui-sref="auth.login">
                        <span class="glyphicon glyphicon-log-in"></span>
                        <span class="bordered-right">Login</span>
                    </a>
                </li>
                <li ng-if="!headerCtrl.isAuthenticated()">
                    <a ui-sref="auth.register">
                        <span class="glyphicon glyphicon-check"></span>
                        <span>Register</span></a>
                </li>
                <li ng-if="headerCtrl.isAuthenticated()">
                    <a ng-click="headerCtrl.transitionToDashboard()" class="header-user__name">
                        <span class="header-user__avatar" ng-if="headerCtrl.user">
                            <img ng-src="images/users/32/{{headerCtrl.user.image[0]}}"/>
                        </span>

                        <span class="glyphicon glyphicon-user" ng-if="!headerCtrl.user"></span>
                        <span class="bordered-right">{{ headerCtrl.user.username }}</span>
                    </a>
                </li>
                <li ng-if="headerCtrl.isAuthenticated()">
                    <a href="#" ng-click="headerCtrl.logOut()">
                        <span class="glyphicon glyphicon-log-out"></span>
                        <span>Log Out</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>